.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Built Visual Studio Code Extensions Manifest
*.vsixmanifest

# Change log
CHANGELOG.md

# bat
*.bat

# png
*.png

# ini
*.ini

# nl
*.nl
*.nolang
*.Nolang
*.nolan
*.Nolan
*.gregory
*.Gregory

testing.py